.header-main{
    text-align: center;
    padding: 20px 0;
}

.header-menu-link{
    text-transform: uppercase;
    margin-left: 70px;
    color: #16a085;
    font-size: 18px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 900;
}

main{
    background-color: #f5f6f7;
    padding-bottom: 40px;
}
.content{
    color: #373737;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
button{
    display: block;
    font-family: Roboto;
    color: #ffffff;
    background-color: #16a085;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}
.footer{
    font-family: Roboto;
    color:#373737;
    font-size: 16px;
    font-weight: 900;
    margin-bottom:45px;
    margin-left:75%;
}
